{% raw %}
<script type="text/x-handlebars" data-template-name="schedule">
  <div class="filters">
    <div class="filters-track">
      <label>Track:</label>
      {{#each track in trackFilters}}
        <button {{action "toggleFilter" track}} {{bindAttr class=":toggle track.selected"}}>{{unbound track.name}}</button>
      {{/each}}
    </div>

    <div class="filters-difficulty">
      <label>Difficulty:</label>
      {{#each difficulty in difficultyFilters}}
        <button {{action "toggleFilter" difficulty}} {{bindAttr class=":toggle difficulty.selected"}}>{{unbound difficulty.name}}</button>
      {{/each}}
    </div>

    <div class="column-select">
      <label>Order by:</label>
      {{#each col in columnOptions}}
        <button {{action "chooseCol" col}} {{bindAttr class=":toggle col.selected"}}>{{unbound col.name}}</button>
      {{/each}}
    </div>

    <div class="filters-reset">
      <button {{action "resetFilters"}}>Reset</button>
    </div>
  </div>

  {{#if sessionsTable}}
    <section id="sched" {{bindAttr class="columnSelected"}}>
      <header>
        {{#each head in sessionsTable.header}}
          <span class="column">{{unbound head}}</span>
        {{/each}}
      </header>
      {{#each row in sessionsTable.rows}}
        <section class="slot">
          {{#each session in row}}
            {{#if session}}
              {{#if session.rowTitle}}
                <h3 class="time">{{unbound session.rowTitle}}</h3>
              {{else}}
                {{#with session}}
                  <article class="session {{unbound classes}}">
                    {{view App.SessionView}}
                  </article><!-- .session -->
                {{/with}}
              {{/if}}
            {{/if}}
          {{/each}}
        </section><!-- .slot -->
      {{/each}}
    </section><!-- .sched -->
  {{else}}
    <p class="none">No sessions match your selection.</p>
  {{/if}}
</script>
{% endraw %}
