{% raw %}
<script type="text/x-handlebars" data-template-name="session">
  <div>
    <b>{{title}}</b>
    <div>{{room}}</div>
    <div>{{presenters}}</div>
    <div>{{track}}</div>
    <div>{{start}}</div>
    <div>{{difficulty}}</div>
    <div>{{day}}</div>
    {{#if showContent}}
        <div>{{{content}}}</div>
    {{else}}
        <button {{action "expand" session target="view"}}>Show details</button>
    {{/if}}
  </div>
</script>
{% endraw %}
