{% raw %}
<script type="text/x-handlebars" data-template-name="session">
  <div {{bindAttr class="filtered"}}>
    <h2><a href="{{unbound permalink}}">{{unbound title}}</a></h2>
    <p class="meta">Presented by {{unbound presenters}}</p>
    <p class="sched">{{unbound day}} in {{unbound room}} at {{unbound start}}</p>
    <ul class="meta">
      <li>{{unbound track}}</li>
      <li>{{unbound difficulty}}</li>
    </ul>
    {{#if showContent}}
      <button {{action "collapse" session target="view"}}>Hide summary</button>
      <div class="desc">{{{unbound summary}}}</div>
    {{else}}
      <button {{action "expand" session target="view"}}>Show summary</button>
    {{/if}}
  </div>
</script>
{% endraw %}
