{% raw %}
<script type="text/x-handlebars" data-template-name="schedule">
  <div id="track-filters">
    {{#each track in trackFilters}}
      <button {{action "toggleFilter" track}} {{bindAttr class=":toggle track.selected"}}>{{track.name}}</button>
    {{/each}}
  </div>

  <div id="difficulty-filters">
    {{#each difficulty in difficultyFilters}}
      <button {{action "toggleFilter" difficulty}} {{bindAttr class=":toggle difficulty.selected"}}>{{difficulty.name}}</button>
    {{/each}}
  </div>

  <div id="column-select">
    {{view Ember.Select valueBinding="columnSelected" contentBinding="columnOptions"}}
  </div>

  {{#if sessionsTable}}
    <table>
      <thead>
        <tr>
          {{#each head in sessionsTable.header}}
            <th>{{head}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each row in sessionsTable.rows}}
          <tr>
            {{#each session in row}}
              <td>
                {{#if session}}
                  {{#if session.rowTitle}}
                    {{session.rowTitle}}
                  {{else}}
                    {{#with session}}
                      {{view App.SessionView}}
                    {{/with}}
                  {{/if}}
                {{/if}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    No sessions match your selection.
  {{/if}}
</script>
{% endraw %}
