{% raw %}
<script type="text/x-handlebars" data-template-name="schedule">
  {{view Ember.Select id="track-selector" contentBinding="allTracks" valueBinding="track"}}
  {{view Ember.Select id="difficulty-selector" contentBinding="allDifficulties" valueBinding="difficulty"}}
  {{#if sessionsTable}}
    <table>
      <thead>
        <tr>
          {{#each head in sessionsTable.header}}
            <th>{{head}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each row in sessionsTable.rows}}
          <tr>
            {{#each session in row}}
              <td>
                {{#if session}}
                  {{#with session}}
                    {{view App.SessionView}}
                  {{/with}}
                {{/if}}
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    No sessions match your selection.
  {{/if}}
</script>
{% endraw %}
