{% raw %}
<script type="text/x-handlebars" data-template-name="schedule">
  <div id="track-filters">
    {{#each track in trackFilters}}
      <button {{action "toggleFilter" track}} {{bindAttr class=":toggle track.selected"}}>{{track.name}}</button>
    {{/each}}
  </div>

  <div id="difficulty-filters">
    {{#each difficulty in difficultyFilters}}
      <button {{action "toggleFilter" difficulty}} {{bindAttr class=":toggle difficulty.selected"}}>{{difficulty.name}}</button>
    {{/each}}
  </div>

  <div id="column-select">
    {{#each col in columnOptions}}
      <button {{action "chooseCol" col}} {{bindAttr class=":toggle col.selected"}}>{{col.name}}</button>
    {{/each}}
  </div>

  <div id="reset-button">
    <button {{action "resetFilters"}}>Reset</button>
  </div>

  {{#if sessionsTable}}
    <section id="sched" {{bindAttr class="columnSelected"}}>
      <header>
        {{#each head in sessionsTable.header}}
          <span class="column">{{head}}</span>
        {{/each}}
      </header>
      {{#each row in sessionsTable.rows}}
        <section class="slot">
          {{#each session in row}}
            {{#if session}}
              {{#if session.rowTitle}}
                <h3 class="time">{{session.rowTitle}}</h3>
              {{else}}
                {{#with session}}
                  <article class="session {{unbound classes}}">
                    {{view App.SessionView}}
                  </article><!-- .session -->
                {{/with}}
              {{/if}}
            {{/if}}
          {{/each}}
        </section><!-- .slot -->
      {{/each}}
    </section><!-- .sched -->
  {{else}}
    <p class="none">No sessions match your selection.</p>
  {{/if}}
</script>
{% endraw %}
